h1	{
	color: #96F2FF;
	margin-left: 15px;
}

h2	{
	color: #B7FFF3;
	margin-left: 15px;
}

#nav {
	border: 3px dashed #160C28;
	margin: 10px 5px 15px 20px;
	padding: 10px 10px 10px 10px;
}

#nav a {
	text-decoration: none;
	color: #EFCB68;
}

.recomended{
	font-family: Arial;
	margin-left: 15px;
}